<launch>
    <node name="map_server" pkg="map_server" type="map_server" args="/home/lattinone/catkin_ws/simple_planner_ws/maps/map.yaml" required="true" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d /home/lattinone/catkin_ws/simple_planner_ws/maps/map.rviz" required="true" />
    
    <node name="main_node" pkg="simple_planner" type="main_node" output="screen" required="true" />
</launch>